canvas{border: 1px solid #000; position: absolute; top: 250px; left:20;}
body{background-color:white; cursor:crosshair; }


.btn {
  background-color: black;
  border: none;
  color: white;
  padding: 8px 10px;
  font-size: 16px;
  cursor: pointer;

}
.but{
  position: absolute;
  top: 200px;
  left: 10px;
}

.btn:hover {
  cursor: grab;
  background-color: RoyalBlue;
}

#buttons {
  border: none;
  padding: 20px 20px;
  position: absolute;
  top: 300px;
  left: 10px;
}

p.para{
  font-style: italic;
  font-family: monospace;
  font-size:25px;
  left:10px;
  top: 350px
}
#size_title {
  font-style: italic;
  font-family: monospace;
  font-size:25px;
  position: absolute;
  
  left: 10px;
  top: 350px;
}
#text_size {
  position: absolute;
  margin-top: 5px;
  left: 20px;
  width: 150px;
}
#pen_size {
  position: absolute;
  top:400px;
  left: 20px;
  width: 150px;
}

.color {
  width: 20px;
  height: 20px;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
  border: 1px solid #000;
  text-align: center;
}

#red {
  background-color: red;
}
#blue {
  background-color: blue;
}
#green {
  background-color: green;
}
#purple {
  background-color: purple;
}
#yellow {
  background-color: yellow;
}
#orange {
  background-color: orange;
}
#pink {
  background-color: pink;
}
#black {
  background-color: black;
}
#white {
 background-color: white;
}
#grey {
  background-color: grey;
  margin-right: 20px;
}
 

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background:lightblue;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: violet;
  cursor: pointer;
}
input[type=text] {
  width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  background-color: lightskyblue;
  color: white;
}
/*Header*/
.header {
  padding: 30px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

/*download*/

a[download] {
  color: hsla(216, 70%, 53%, 1);
  text-decoration: underline;
  
}

.download_link{
  width:500px;
  height:30px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
}
/*TEXT PART*/
.text_part{
  margin-left: 30px;

}

#sidebar_right{
  width:20%;
  height:600px;
  border:1px #666 dashed;
  margin-top:5px;
  margin-bottom:5px;
  float:right;
}
#sidebar_left{
  width:100%;
  height:100px;
  margin-top:5px;
  margin-bottom:5px;
  float:left;
}
